loki.jnks.co {
  root /var/www/html
  tls hello@loki.jnks.co

  rewrite {
    to {path} {path}/ /index.html
  }
}

api.loki.jnks.co {
  proxy / api_1:3000 api_2:3000 api_3:3000 api_4:3000 api_5:3000 {
    health_check /health
    health_check_interval 30s
  }
}
