$color-primary = #2395F7

$color-info = #2395F7
$color-success = #34c734
$color-warning = orange
$color-danger = red

$color-darkest-grey = #2D2E2C
$color-grey = #CCC
$color-lighter-grey = #eaeaea
$color-lightest-grey = #fafafa
$color-border = #eaeaea

$color-text-dark-grey = #444
$color-text-grey = #888
$color-text-light-grey = #AAA

$color-dark-purple = #031b4e
$color-purple = lighten($color-dark-purple, 10%)