extends ../main

block content

  h1(style="margin-bottom: 30px") You Subscribed

  p Hey #{ user.profile.name },

  p You are now subscribed!

  p We will let you know when interesting things happen.
